$body-bg: white;
$body-color: rgb(57, 57, 57);

$font-family-sans-serif: 'Poppins', sans-serif;

// Site Colors
$color-white: #ffffff;
$color-grey: #adaeb7;
$color-black: rgb(57, 57, 57);
$color-gold: #d6ad60;

// PERSONAL UTILITIES //

.margin-4em {
  margin-top: 4em;
}

.margin-2em {
  margin-top: 2em;
}

.margin {
  margin: 1em;
}

.bold {
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  font-size: 1em;
}

hr {
  width: 100px;
  display: block;
  border: $color-black solid 2px;
  margin: 2em auto;
  opacity: 0.75;
}

html,
body {
  overflow-x: hidden;
  font-family: $font-family-sans-serif;
  background-color: $body-bg;
  color: $body-color;
}

.color-gold {
  color: $color-gold;
}

header {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  height: 80px;
  background-color: $color-white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the bottom of the page */
  z-index: 9999;
  width: 100%;

  .logo {
    grid-column: 1/2;
    max-width: 100%;
    align-self: center;
    justify-self: start;
    margin-left: 20px;

    a {
      text-decoration: none;
      color: $color-black;

      .logo-content {
        font-size: 3em;
        margin: 0;
      }
    }
  }
}

// MENU POP OUT START //

@mixin transition {
  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      transition: transform
        1s
        #{$i *
        0.08}s
        cubic-bezier(0.29, 1.4, 0.44, 0.96);
    }
  }
}

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

$main: $color-black;
$text: $color-white;

.drawer-list {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  transform: translate(100vw, 0);
  z-index: 100;
  opacity: 1;
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 125px;
  transition: width 475ms ease-out, transform 450ms ease,
    border-radius 0.8s 0.1s ease;
  border-bottom-left-radius: 100vw;
  background-color: black;
  @media (min-width: 768px) {
    width: 40vw;
  }
  ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    pointer-events: auto;
    font-family: $font-family-sans-serif;
  }
  li {
    list-style: none;
    text-transform: uppercase;
    pointer-events: auto;
    white-space: nowrap;
    box-sizing: border-box;
    transform: translatex(100vw);
    /* ie workaround */
    -ms-transform: translatex(-100vw);
    &:last-child {
      margin-bottom: 2em;
    }
    a {
      text-decoration: none;
      color: $text;
      text-align: left;
      display: block;
      padding: 1rem;
      font-size: 3em;
      @media (min-width: 768px) {
        text-align: right;
        padding: 0.5rem;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

input.hamburger {
  display: none;
  &:checked {
    & ~ .drawer-list {
      transform: translatex(0);
      border-bottom-left-radius: 0;
      li {
        transform: translatex(0);
        @include transition;
        a {
          padding-right: 15px;
        }
      }
    }
    & ~ label {
      > i {
        background-color: transparent;
        transform: rotate(90deg);
        &:before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
}

label.hamburger {
  justify-self: end;
  margin-right: 20px;
  align-self: center;
  grid-column: 3/4;
  z-index: 9999;
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  &:hover {
    cursor: pointer;
  }
  > i {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    background-color: $color-gold;
    pointer-events: auto;
    transition-duration: 0.35s;
    transition-delay: 0.35s;
    &:before,
    &:after {
      position: absolute;
      display: block;
      width: 50%;
      height: 2px;
      left: 50%;
      background-color: $color-grey;
      content: '';
      transition: transform 0.35s;
      transform-origin: 50% 50%;
    }
    &:before {
      transform: translate(-50%, -14px);
    }
    &:after {
      transform: translate(-50%, 14px);
    }
  }
}

.landing {
  display: grid;
  min-height: 98vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.intro {
  height: 100%;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;

  .intro-p-div {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: center;
  }

  // MENU POP OUT END //

  // TEXT FLIP START //

  .flip {
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .flip span {
    display: inline-block;
    font-size: 2.3em;
    text-transform: uppercase;
    animation: flip 4s infinite;
    animation-delay: calc(0.2s * var(--i));
  }
  @keyframes flip {
    0%,
    80% {
      transform: rotateY(360deg);
    }
  }

  // TEXT FLIP END //

  // TEXT GRADIENT START //

  .gradient-animation {
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      $color-grey 0%,
      $color-black 50%,
      $color-gold 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  // TEXT GRADIENT END //
}

// SCROLL ANIMATION START //

.anim-scroll {
  border: 2px solid $color-black;
  border-radius: 22px;
  height: 40px;
  position: relative;
  width: 20px;
  justify-self: center;

  &--wheel {
    animation: scroll 2.5s ease infinite;
    background: $color-gold;
    border-radius: 30px;
    height: 8px;
    left: calc(50% - 1.5px);
    position: absolute;
    right: 50%;
    top: 8px;
    width: 3px;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(16px);
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

// SCROLL ANIMATION END//

// IMAGE CONTAINER START //

.image-container img {
  max-width: 100%;
  filter: grayscale(100%);
}

// IMAGE CONTAINER END //

// PAGE LOAD ANIMATION START //

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1.5s;
  animation-name: animatebottom;
  animation-duration: 1.5s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.fade-in {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#myDiv {
  display: none;
  width: 100vw;
}

// PAGE LOAD ANIMATION END //

// ABOUT SECTION START //

.about {
  clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  background-color: $color-gold;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.about-container {
  align-self: center;
}

// ABOUT SECTION END //

// LOADER FUNCTION START //

$color: $color-gold;
$colorRight: darken($color-gold, 15%);
$colorLeft: darken($color-gold, 5%);
$shadow: #dbe3f4;

.boxes {
  --size: 32px;
  --duration: 800ms;
  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin-top: calc(var(--size) * 1.5 * -1);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
  .box {
    width: var(--size);
    height: var(--size);
    top: 0;
    left: 0;
    position: absolute;
    transform-style: preserve-3d;
    &:nth-child(1) {
      transform: translate(100%, 0);
      animation: box1 var(--duration) linear infinite;
    }
    &:nth-child(2) {
      transform: translate(0, 100%);
      animation: box2 var(--duration) linear infinite;
    }
    &:nth-child(3) {
      transform: translate(100%, 100%);
      animation: box3 var(--duration) linear infinite;
    }
    &:nth-child(4) {
      transform: translate(200%, 0);
      animation: box4 var(--duration) linear infinite;
    }
    & > div {
      --background: #{$color};
      --top: auto;
      --right: auto;
      --bottom: auto;
      --left: auto;
      --translateZ: calc(var(--size) / 2);
      --rotateY: 0deg;
      --rotateX: 0deg;
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--background);
      top: var(--top);
      right: var(--right);
      bottom: var(--bottom);
      left: var(--left);
      transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
        translateZ(var(--translateZ));
      &:nth-child(1) {
        --top: 0;
        --left: 0;
      }
      &:nth-child(2) {
        --background: #{$colorRight};
        --right: 0;
        --rotateY: 90deg;
      }
      &:nth-child(3) {
        --background: #{$colorLeft};
        --rotateX: -90deg;
      }
      &:nth-child(4) {
        --background: #{$shadow};
        --top: 0;
        --left: 0;
        --translateZ: calc(var(--size) * 3 * -1);
      }
    }
  }
}

@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(200%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

html {
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

// Center
body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

// LOADER FUNCTION END //
