@media only screen and (min-width: 750px) {
    #logo {
        max-width: 8%;
    }


    .bar {
        width: 3px;
        height: 55px;
        background-color: #e0e0e0;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .description-items {
        padding-top: 8rem;
    }

    .description {
        font-size: 6rem;
        text-align: left;
        margin-left: 2rem;
    }
}