@media only screen and (min-width: 960px) {
    #logo {
        max-width: 60px;
        margin-left: 2rem;
    }

    .bar {
        width: 3px;
        height: 55px;
        background-color: #e0e0e0;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .description-items {
        padding-top: 8rem;
    }

    .description {
        font-size: 6rem;
        text-align: left;
        margin-left: 1.5rem;
    }

    .bar-left {
        margin-left: 3rem;
    }

    .landing-p-section {
        max-width: 60%;
    }

    .landing-skills-p-top {
        max-width: 50%;
    }

    .skills-div {
        max-width: 100%;
    }

    #contact-heading {
        margin: 2rem;
        margin-top: 4rem;
    }

    .form-button {
        margin-bottom: 1rem;
    }

    .social-grid-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-top: 1rem;
    }
    
    .facebook-footer {
        justify-self: left;
        display: block;
        font-size: 2rem;
        text-decoration: none;
        grid-column: 3/4;
        grid-row: 1;
    }
    
    .twitter-footer {
        justify-self: center;
        display: block;
        font-size: 2rem;
        text-decoration: none;
        grid-column: 3/4;
        grid-row: 1;
    }
    
    .instagram-footer {
        justify-self: right;
        display: block;
        font-size: 2rem;
        text-decoration: none;
        grid-column: 3/4;
        grid-row: 1;
    }

}