@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 5000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      
    main {
        grid-template-columns: 1fr 500px 1fr;
    }

    #div-1 {
        width: 500px;
    }

    #div-2 {
        width: 242px;
    }

    #div-3 {
        width: 242px;
    }

    #div-4 {
        width: 500px;
    }

    #div-5 {
        width: 242px;
    }

    #div-6 {
        width: 242px;
    }

    #div-7 {
        width: 500px;
    }
}