@media only screen and (min-width: 750px) {
    #logo {
        max-width: 8%;
    }
    .description {
        font-size: 4rem;
    }
    .landing-p-section {
        max-width: 70%;
    }
    .landing-skills-p-top {
        max-width: 70%;
    }
    #contact-heading {
        margin: 2rem;
        margin-top: 4rem;
    }
    .form-button {
        margin-bottom: 8rem;
    }

    .social-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-top: auto;
    }
    
    .facebook {
        justify-self: left;
        display: block;
        font-size: 3rem;
        text-decoration: none;
        grid-column: 3/4;
        grid-row: 1;
    }
    .twitter {
        justify-self: center;
        display: block;
        font-size: 3rem;
        text-decoration: none;
        grid-column: 3/4;
        grid-row: 1;

    }
    .instagram {
        justify-self: right;
        display: block;
        font-size: 3rem;
        text-decoration: none;
        grid-column: 3/4;
        grid-row: 1;
    }

    .social-grid-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 1rem;
    }
    
    .facebook-footer {
        justify-self: left;
        display: block;
        font-size: 2rem;
        text-decoration: none;
        grid-column: 2/3;
        grid-row: 1;
    }
    
    .twitter-footer {
        justify-self: center;
        display: block;
        font-size: 2rem;
        text-decoration: none;
        grid-column: 2/3;
        grid-row: 1;
    }
    
    .instagram-footer {
        justify-self: right;
        display: block;
        font-size: 2rem;
        text-decoration: none;
        grid-column: 2/3;
        grid-row: 1;
    }
  }