body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #303030;
}

body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #303030;
    scroll-behavior: smooth;
}

footer {
    color: #303030;
    padding: 1rem;
    font-size: 1.1rem;
    background-color: #e0e0e0;
    margin-top: 3rem;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

#logo {
    max-width: 60px;
    justify-self: left;
    grid-row: 1;
    margin-top: 1rem;
    margin-left: 1rem;
    position: relative;
    animation: animateleft 1s;
}

.logo {
    grid-row: 1;
    width: 60px;
}

.container {
    cursor: pointer;
    align-self: center;
    justify-self: right;
    grid-row: 1;
    padding-right: 1rem;
    background-color: #FF5732;
    padding: 1rem;
    position: fixed;
    right: 0;
    z-index: 100;
    color: #303030;
    position: relative;
    animation: animateright 1s;
}

.bar1 {
    width: 35px;
    height: 3px;
    background-color: #303030;
    margin: 8px 0;
    transition: 0.4s;
}

.bar2 {
    width: 25px;
    height: 3px;
    background-color: #303030;
    margin: 8px 0;
    transition: 0.4s;
}

.bar3 {
    width: 15px;
    height: 3px;
    background-color: #303030;
    margin: 8px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
    width: 35px;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    width: 35px;
}

.change .container {
    color: #303030;
}

#rightMenu {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    height: 100%;
    z-index: 1;
    color: #FF5732;
    padding-top: 4rem;
}

.menu-links {
    text-align: left;
    display: block;
    font-size: 3rem;
    text-decoration: none;
    margin-left: 2rem;
}

#menu-0 {
    position: relative;
    animation: animatetop .8s;
}

#menu-1 {
    position: relative;
    animation: animateleft .8s;
}

#menu-2 {
    position: relative;
    animation: animateright .8s;
}

#menu-3 {
    position: relative;
    animation: animatebottom .8s;
}

.period-color-orange {
    color: #FF5732;
}

#landing-description {
    margin-right: 1rem;
    margin-top: 3rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.description {
    font-size: 3rem;
    color: #303030;
}

.bar-left {
    width: 65px;
    height: 4px;
    background-color: #FF5732;
    margin-left: 1rem;
}

.landing-p-section {
    margin-top: 2rem;
}

.landing-p {
    background-color: #e0e0e0;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    color: #303030;
    padding: 1rem;
    position: relative;
    animation: animatebottom 1s;
}

.landing-button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    margin-top: 2rem;
    background-color: #FF5732;
    border: none;
    color: #303030;
}

.text-decoration {
    text-decoration: none;
}

.bar-center {
    width: 150px;
    height: 4px;
    background-color: #e0e0e0;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.objective {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #303030;
    background-color: #e0e0e0;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.landing-objective-heading {
    text-align: left;
    color: #303030;
}

.landing-objective-p {
    text-align: left;
    margin-top: 1rem;
}

.bar-left-2 {
    width: 65px;
    height: 4px;
    background-color: #FF5732;
}

.skills {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #303030;
}

.landing-skills-heading {
    text-align: left;
    color: #303030;
}

.landing-skills-p-top {
    text-align: left;
    margin-top: 1rem;
    color: #303030;
}

.landing-skills-p {
    text-align: left;
    margin-top: 1rem;
    padding-bottom: 1rem;
    color: #303030;
}

.bar-left-2 {
    width: 65px;
    height: 4px;
    background-color: #FF5732;
}

.bar-left-3 {
    width: 65px;
    height: 4px;
    background-color: white;
}

.skills-title {
    text-align: left;
    color: #303030;
}

.skills-div {
    background-color: #FF5732;
    padding: 1rem;
    margin-top: 1rem;
    color: #303030;
}

#footer-content {
    text-align: center;
}

#twitter-button {
    text-align: center;
    margin: 1rem;
}

.social-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
}

.facebook,
.twitter,
.instagram {
    justify-self: center;
    display: block;
    font-size: 3rem;
    text-decoration: none;
}

.social-grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
}

.facebook-footer {
    justify-self: center;
    display: block;
    font-size: 2rem;
    text-decoration: none;
    grid-column: 2/3;
}

.twitter-footer {
    justify-self: center;
    display: block;
    font-size: 2rem;
    text-decoration: none;
    grid-column: 3/4;
}

.instagram-footer {
    justify-self: center;
    display: block;
    font-size: 2rem;
    text-decoration: none;
    grid-column: 4/5;
}

#contact-heading {
    margin-top: 3rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #303030;
    text-align: center;
    position: relative;
    animation: animatetop 1s;
}

form {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
}

.form-item {
    justify-self: center;
}

.form-input {
    width: 300px;
    height: 40px;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    border: 1px solid #FF5732;
}

.comments {
    width: 300px;
    height: 80px;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    border: 1px solid #FF5732;
}

.form-button {
    width: 300px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #FF5732;
    color: #303030;
    border: none;
}

#grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#temp {
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
}