body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: black;
}

body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: black;
}

footer {
    color: black;
    padding: 1rem;
    font-size: .7rem;
}

.background {
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-image: white;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

#logo {
    max-width: 60px;
    justify-self: left;
    align-self: center;
    grid-row: 1;
    margin-top: 1rem;
    margin-left: 1rem;
}

.container {
    cursor: pointer;
    align-self: center;
    justify-self: right;
    grid-row: 1;
    padding-right: 1rem;
    background-color: #FF5732;
    padding: 1rem;
}

.bar1 {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 8px 0;
    transition: 0.4s;
}

.bar2 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 8px 0;
    transition: 0.4s;
}

.bar3 {
    width: 15px;
    height: 3px;
    background-color: black;
    margin: 8px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
    width: 35px;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    width: 35px;
}

.change .container {
    color: black;
}

#rightMenu {
    position: fixed;
    top: 100px;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    height: 100%;
    z-index: 1;
    color: #FF5732;
}

#rightMenu a {
    text-align: left;
    display: block;
    font-size: 3rem;
    text-decoration: none;
    margin-left: 2rem;
}

.period-color-orange {
    color: #FF5732;
}

#landing-description {
    margin-right: 1rem;
    margin-top: 3rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.description {
    font-size: 3rem;
}

.bar-left {
    width: 65px;
    height: 4px;
    background-color: #FF5732;
    margin-left: 1rem;
}

.landing-p-section {
    margin-top: 2rem;
}

.landing-p {
    background-color: #e0e0e0;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    color: black;
    padding: 1rem;
}

.landing-button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    margin-top: 2rem;
    background-color: #FF5732;
    border: none;
    margin-bottom: 3rem;
}

.text-decoration {
    text-decoration: none;
}

.bar-center {
    width: 150px;
    height: 4px;
    background-color: #e0e0e0;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.objective {
    padding-left: 1rem;
    padding-right: 1rem;
}

.landing-objective-heading {
    text-align: left;
}

.landing-objective-p {
    text-align: left;
    margin-top: 1rem;
}

.bar-left-2 {
    width: 65px;
    height: 4px;
    background-color: #FF5732;
}

.skills {
    padding-left: 1rem;
    padding-right: 1rem;
}

.landing-skills-heading {
    text-align: left;
}

.landing-skills-p-top {
    text-align: left;
    margin-top: 1rem;
}

.landing-skills-p {
    text-align: left;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.bar-left-2 {
    width: 65px;
    height: 4px;
    background-color: #FF5732;
}

.bar-left-3 {
    width: 65px;
    height: 4px;
    background-color: #e0e0e0;
}

.skills-title {
    text-align: left;
}

.skills-div {
    background-color: #FF5732;
    padding: 1rem;
    margin-top: 1rem;
}