body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: black;
}

body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: black;
}

footer {
    color: black;
    padding: 1rem;
    font-size: .7rem;
}

.bgimg {
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-image: white;
}

#logo {
    max-width: 14%;
    margin-left: 2rem;
    margin-top: 2rem;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin: 1rem;
    margin-top: 1.3rem;
    position: fixed;
    background-color: #FF5732;
    padding-top: .7rem;
    padding-left: .9rem;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.bar1 {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 8px 0;
    transition: 0.4s;
}

.bar2 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 8px 0;
    transition: 0.4s;
}

.bar3 {
    width: 15px;
    height: 3px;
    background-color: black;
    margin: 8px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
    width: 35px;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    width: 35px;
}

.change .container {
    color: black;
}

#rightMenu {
    position: fixed;
    top: 100px;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    height: 100%;
    z-index: 1;
    color: #FF5732;
}

#rightMenu a {
    text-align: left;
    display: block;
    font-size: 3rem;
    text-decoration: none;
    margin-left: 2rem;
}

.period-color-orange {
    color: #FF5732;
}

.description-items {
   padding-top: 8rem;
}

.description {
    font-size: 3rem;
    text-align: left;
}

.bar {
    width: 55px;
    height: 3px;
    background-color: #e0e0e0;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button {
    border: 1px solid #FF5732;
    border-radius: 20px;
    display: block;
    width: 180px;
    padding: 1rem;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-top: 3rem;
}

.button-a {
    text-decoration: none;
}

.landing-description {
    margin-top: 1rem;
    text-align: left;
}