// Fonts
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-headings: 'Montserrat', sans-serif;
$font-body: 'Cabin', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headings;
}

p,
span {
  font-family: $font-body;
}

// Site Colors
$color-orange: #e3805e;
$color-green: #6ab99f;
$color-white: #e0e3ec;
$color-purple: #bd6abb;
$color-grey: #adaeb7;
$color-black: #101119;
$color-yellow: #f9d71c;

// Padding - Margin Values
$pixel-spacing: 10px;
$base-spacing: 1em;
$double-spacing: 2em;
$triple-spacing: 3em;

// Lines, border, hr
$base-thickness: 2px;

// Border-radius mixin
@mixin border-radius {
  border-radius: 10px;
}

// Set Breakpoint Sizes
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

// usage
//   .my-box {
//     padding: 10px;

//     @include for-desktop-up {
//       padding: 20px;
//     }
//   }

// BODY STYLES
body {
  background-color: $color-black;
  color: $color-white;
}

// HEADER STYLES
header {
  display: grid;
  grid-template-columns: 30% 1fr 20%;
  height: 100px;

  // Styles for light and dark mode toggle.
  // Change $scale to adjust size of button
  // Change $time to adjust transition time.
  $scale: 60px;
  $time: 2s;

  // A Template (Mixin) of all common codes, to stop repitition
  @mixin common($a, $b, $c, $d, $e, $f, $g) {
    display: $a;
    flex-direction: $b;
    justify-content: $c;
    align-items: $d;
    width: $e;
    height: $f;
    background-color: $g;
    transition: all $time ease;
  }

  // for hiding the small tick box
  .checkbox-hack {
    display: none;
  }

  // Style rules for the .btn class
  .btn {
    align-self: center;
    margin: 15px 0;
    justify-self: center;
  }

  // Style rules for the .box class
  .box {
    @include common(flex, column, center, null, $scale, $scale/2, black);
    position: relative;
    border-radius: $scale/4;
    cursor: pointer;
    border: 2px solid $color-white;

    // Style rules for the roller .ball class
    .ball {
      @include common(
        null,
        null,
        null,
        null,
        $scale/2,
        $scale/2,
        $color-purple
      );
      position: absolute;
      border-radius: 50%;
      border: 2px solid $color-white;
      transform: translateX(-5%);
    }

    // Style rules for the .scene(.sun, .moon) class
    .scene {
      @include common(flex, row, space-between, null, null, null, null);
      padding: 5px 5px 0px 10px;
      svg {
        width: $scale/3;
      }
    }
  }

  .logo {
    grid-column: 3/4;
    max-width: 100%;
    align-self: center;
    justify-self: center;

    a {
      text-decoration: none;

      .logo-content {
        color: $color-orange;
        font-size: 3em;
        margin: 0;

        .logo-content-2 {
          color: $color-green;
        }
      }
    }
  }
}

// Fade in Keyframe
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;

  .section-one {
    margin: $base-spacing;
    display: grid;
    grid-template-columns: 1fr;

    .image-container {
      max-width: 100%;

      img {
        width: 100%;
        margin: 0 auto;
        display: block;
        -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
        -o-animation: fadein 4s; /* Opera < 12.1 */
        animation: fadein 4s;
      }
    }

    .name-container {
      z-index: 2;
      color: $color-purple;
      font-size: 2em;
      border-top: 6px solid $color-green;
      border-bottom: 6px solid $color-green;
      margin: $base-spacing 0 0 0;

      h1 {
        padding: 0;
        margin: 0;
        font-weight: 700;
        padding: $pixel-spacing;
      }
    }

    .role-container {
      p {
        font-size: 2em;
        margin: $pixel-spacing;
        padding-top: $pixel-spacing;
      }
    }
  }

  .section-two {
    background-color: $color-grey;

    .description-container {
      margin: $base-spacing;
      h1 {
        color: $color-purple;
      }
    }
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .icon-one {
    max-width: 30%;
    justify-self: center;
    align-self: center;
  }

  .icon-two {
    max-width: 30%;
    justify-self: center;
    align-self: center;
  }

  .icon-three {
    max-width: 30%;
    justify-self: center;
    align-self: center;
  }

  p {
    grid-column: 1/4;
    justify-self: center;
    color: #e0e3ec;
  }
}
