@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
span {
  font-family: "Cabin", sans-serif;
}

p {
  line-height: 1.5;
}

body {
  background-color: #101119;
  color: #e0e3ec;
  font-size: 16px;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 1fr 30%;
      grid-template-columns: 30% 1fr 30%;
  height: 100px;
  background-color: #101119;
}

header .logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  max-width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

header .logo a {
  text-decoration: none;
  color: #e0e3ec;
}

header .logo a .logo-content {
  font-size: 3em;
  margin: 0;
}

header .logo a .logo-content .logo-content-2 {
  color: #adaeb7;
}

.checkbox-hack {
  display: none;
}

.btn {
  margin: 15px 0;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 30px;
  background-color: black;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid #e0e3ec;
  margin: 0 auto;
}

.box .ball {
  width: 30px;
  height: 30px;
  background-color: #e0e3ec;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #e0e3ec;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

.box .scene {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  padding: 5px 5px 0px 10px;
}

.box .scene svg {
  width: 20px;
}

.ham-button {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

html {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.msg {
  font-family: 'Pacifico', cursive;
  font-size: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fefefe;
  background-color: #1184f0;
}

.features {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.features li {
  width: 100%;
  text-align: center;
  padding: 0.25em;
}

.drawer-list {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transform: translate(100vw, 0);
          transform: translate(100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  pointer-events: none;
  padding-top: 125px;
  -webkit-transition: width 475ms ease-out, border-radius 0.8s 0.1s ease, -webkit-transform 450ms ease;
  transition: width 475ms ease-out, border-radius 0.8s 0.1s ease, -webkit-transform 450ms ease;
  transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease;
  transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease, -webkit-transform 450ms ease;
  border-bottom-left-radius: 100vw;
  background-color: #3d88ce;
  background-color: rgba(12, 106, 194, 0.8);
}

@media (min-width: 768px) {
  .drawer-list {
    width: 40vw;
  }
}

.drawer-list ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}

.drawer-list li {
  list-style: none;
  text-transform: uppercase;
  pointer-events: auto;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translatex(100vw);
          transform: translatex(100vw);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
}

.drawer-list li:last-child {
  margin-bottom: 2em;
}

.drawer-list li a {
  text-decoration: none;
  color: #fefefe;
  text-align: center;
  display: block;
  padding: 1rem;
  font-size: calc(24px - 0.5vw);
}

@media (min-width: 768px) {
  .drawer-list li a {
    text-align: right;
    padding: 0.5rem;
  }
}

.drawer-list li a:hover {
  cursor: pointer;
  background-color: #88c2f8;
  background-color: rgba(17, 132, 240, 0.5);
}

input.hamburger {
  display: none;
}

input.hamburger:checked ~ .drawer-list {
  -webkit-transform: translatex(0);
          transform: translatex(0);
  border-bottom-left-radius: 0;
}

input.hamburger:checked ~ .drawer-list li {
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

input.hamburger:checked ~ .drawer-list li:nth-child(1) {
  -webkit-transition: -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(2) {
  -webkit-transition: -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(3) {
  -webkit-transition: -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(4) {
  -webkit-transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(5) {
  -webkit-transition: -webkit-transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(6) {
  -webkit-transition: -webkit-transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(7) {
  -webkit-transition: -webkit-transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(8) {
  -webkit-transition: -webkit-transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(9) {
  -webkit-transition: -webkit-transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(10) {
  -webkit-transition: -webkit-transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(11) {
  -webkit-transition: -webkit-transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(12) {
  -webkit-transition: -webkit-transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(13) {
  -webkit-transition: -webkit-transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(14) {
  -webkit-transition: -webkit-transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(15) {
  -webkit-transition: -webkit-transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(16) {
  -webkit-transition: -webkit-transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(17) {
  -webkit-transition: -webkit-transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(18) {
  -webkit-transition: -webkit-transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(19) {
  -webkit-transition: -webkit-transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(20) {
  -webkit-transition: -webkit-transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(21) {
  -webkit-transition: -webkit-transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(22) {
  -webkit-transition: -webkit-transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(23) {
  -webkit-transition: -webkit-transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(24) {
  -webkit-transition: -webkit-transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(25) {
  -webkit-transition: -webkit-transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(26) {
  -webkit-transition: -webkit-transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(27) {
  -webkit-transition: -webkit-transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(28) {
  -webkit-transition: -webkit-transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(29) {
  -webkit-transition: -webkit-transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(30) {
  -webkit-transition: -webkit-transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(31) {
  -webkit-transition: -webkit-transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(32) {
  -webkit-transition: -webkit-transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(33) {
  -webkit-transition: -webkit-transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(34) {
  -webkit-transition: -webkit-transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(35) {
  -webkit-transition: -webkit-transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(36) {
  -webkit-transition: -webkit-transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(37) {
  -webkit-transition: -webkit-transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(38) {
  -webkit-transition: -webkit-transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(39) {
  -webkit-transition: -webkit-transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(40) {
  -webkit-transition: -webkit-transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(41) {
  -webkit-transition: -webkit-transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(42) {
  -webkit-transition: -webkit-transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(43) {
  -webkit-transition: -webkit-transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(44) {
  -webkit-transition: -webkit-transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(45) {
  -webkit-transition: -webkit-transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(46) {
  -webkit-transition: -webkit-transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(47) {
  -webkit-transition: -webkit-transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(48) {
  -webkit-transition: -webkit-transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(49) {
  -webkit-transition: -webkit-transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li:nth-child(50) {
  -webkit-transition: -webkit-transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .drawer-list li a {
  padding-right: 15px;
}

input.hamburger:checked ~ label > i {
  background-color: transparent;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

input.hamburger:checked ~ label > i:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

input.hamburger:checked ~ label > i:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

label.hamburger {
  z-index: 9999;
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
}

label.hamburger:hover {
  cursor: pointer;
}

label.hamburger > i {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  background-color: #e0e3ec;
  pointer-events: auto;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

label.hamburger > i:before, label.hamburger > i:after {
  position: absolute;
  display: block;
  width: 50%;
  height: 2px;
  left: 50%;
  background-color: #e0e3ec;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

label.hamburger > i:before {
  -webkit-transform: translate(-50%, -14px);
          transform: translate(-50%, -14px);
}

label.hamburger > i:after {
  -webkit-transform: translate(-50%, 14px);
          transform: translate(-50%, 14px);
}

label.hamburger {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2em;
}

footer a {
  margin-top: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 3em;
}

footer a .fa-linkedin-in {
  color: #adaeb7;
}

footer a .fa-instagram {
  color: #adaeb7;
}

footer a .fa-github {
  color: #adaeb7;
}

footer p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-column-align: center;
      justify-self: center;
}
/*# sourceMappingURL=styles.css.map */