@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
span {
  font-family: "Cabin", sans-serif;
}

p {
  line-height: 1.5;
}

body {
  background-color: #101119;
  color: #e0e3ec;
  font-size: 16px;
}

.hr-headings {
  width: 50px;
  height: 6px;
  margin: 0 0 0 0;
  background-color: #e0e3ec;
  border: none;
}

.hr-center {
  width: 100px;
  height: 6px;
  margin: 0 auto;
  background-color: #e0e3ec;
  border: none;
  margin-top: 2em;
  margin-bottom: 2em;
}

.highlight {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(16, 17, 25, 0)), color-stop(40%, #adaeb7));
  background: linear-gradient(180deg, rgba(16, 17, 25, 0) 60%, #adaeb7 40%);
  display: inline;
}

.highlight-purple {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(16, 17, 25, 0)), color-stop(40%, #adaeb7));
  background: linear-gradient(180deg, rgba(16, 17, 25, 0) 60%, #adaeb7 40%);
  display: inline;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 1fr 20%;
      grid-template-columns: 30% 1fr 20%;
  height: 100px;
  background-color: #101119;
}

header .checkbox-hack {
  display: none;
}

header .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 15px 0;
  -ms-grid-column-align: center;
      justify-self: center;
}

header .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 30px;
  background-color: black;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid #e0e3ec;
}

header .box .ball {
  width: 30px;
  height: 30px;
  background-color: #bd6abb;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #e0e3ec;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

header .box .scene {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  padding: 5px 5px 0px 10px;
}

header .box .scene svg {
  width: 20px;
}

header .logo {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  max-width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

header .logo a {
  text-decoration: none;
  color: #e0e3ec;
}

header .logo a .logo-content {
  font-size: 3em;
  margin: 0;
}

header .logo a .logo-content .logo-content-2 {
  color: #adaeb7;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

main .section-one {
  margin: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

main .section-one .image-container {
  max-width: 100%;
}

main .section-one .image-container img {
  width: 100%;
  margin: 0 auto;
  display: block;
  -webkit-animation: fadein 4s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 4s;
}

main .section-one .name-container {
  z-index: 2;
  font-size: 1.75em;
  border-top: 6px solid #e0e3ec;
  border-bottom: 6px solid #e0e3ec;
  margin: 1em 0 0 0;
}

main .section-one .name-container h1 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  padding: 10px;
}

main .section-one .name-container h1 span {
  font-family: "Montserrat", sans-serif;
}

main .section-one .role-container p {
  font-size: 1.5em;
  margin: 10px;
  padding: 10px 0 10px 0;
}

main .section-two {
  margin: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

main .section-three {
  margin: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

main .section-three .work .mockup {
  padding: 1em;
}

main .section-three .work .mockup img {
  width: 100%;
}

main .section-three .work .mockup h2 {
  margin: 0;
  margin-top: 50px;
  display: inline-block;
}

main .section-three .work .mockup form input {
  border-radius: 50px;
  padding: 10px 1em;
  border: none;
  background-color: #e0e3ec;
  font-family: "Cabin", sans-serif;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2em;
}

footer a {
  margin-top: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 3em;
}

footer a .fa-linkedin-in {
  color: #adaeb7;
}

footer a .fa-instagram {
  color: #adaeb7;
}

footer a .fa-github {
  color: #adaeb7;
}

footer p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-column-align: center;
      justify-self: center;
}

footer .section-four {
  margin: 1em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

footer .section-four .contact {
  margin-bottom: 1em;
}

footer .section-four .contact .email {
  margin-top: 1em;
}

footer .section-four .contact .email span {
  font-size: 1.5em;
}

footer .section-four .contact .email a {
  font-size: 1.5em;
  text-decoration: none;
  font-family: "Cabin", sans-serif;
}
/*# sourceMappingURL=styles.css.map */