body {
  background-color: #2b2d42;
  color: #edf2f4;
  font-family: 'Montserrat', sans-serif;
}

#page_title {
  text-align: center;
}

#menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #ef233c;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-items: center;
  padding-top: 10px;
}

.menu_i {
  font-size: 22px;
}

.menu_text {
  grid-template-rows: 2/3;
  font-size: 10px;
  margin: 0;
}

.menu_link {
  color: #edf2f4;
}

#search_bar {
  position: relative;
}

#search_bar .fa-search {
  position: absolute;
  top: 16px;
  left: 35px;
  font-size: 20px;
  color: #ef233c;
}

#title_input {
  text-indent: 30px;
  height: 40px;
  width: 85%;
  margin: 0 auto;
  display: block;
  padding: 5px;
  padding-left: 20px;
  font-size: 20px;
  border: none;
  border-radius: 14px;
  background: #3d3f59;
  color: #edf2f4;
}

::placeholder {
  color: #edf2f4;
}

.hr-small {
  width: 50px;
  margin-top: -5px;
  margin-left: 1px;
  height: 1px;
  background-color: #ef233c;
  border: none;
}

.featured {
  max-width: 150px;
  border-radius: 10px;
  margin-top: 10px;
}

#popular-movies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

#upcoming-movies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 60px;
}

#all-movies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 60px;
}

.section-titles {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
}

.active {
  color: #3d3f59;
}

#load-all-movies {
  margin-bottom: 80px;
}