/* Desktops and laptops ----------- */
@media only screen and (min-width : 1440px) {
    /* Styles */

    header {
        grid-template-columns: 20% 56% 8% 8% 8%;
        margin-right: 2rem;
    }

    h1 {
        font-size: 2.24rem;
        font-family: 'Raleway', sans-serif;
    }

    #logo {
        grid-column: 1/2;
        margin: 3rem 2rem 2rem 4rem;
        max-width: 70%;
    }

    .nav-button {
        font-size: 1rem;
    }

    .section-one {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .main-one {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .folder-img {
        grid-column: 2/3;
        max-width: 100%;
        justify-self: right;
        margin-top: 2.5rem;
    }

    .main-h1 {
        text-align: left;
        padding-left: 4rem;
        padding-right: 8rem;
        margin-top: 6.5rem;
        margin-bottom: 1rem;
    }

    .main-one-p {
        font-size: 1rem;
        text-align: left;
        margin-left: 4rem;
        margin-right: 9rem;
        line-height: 1.5;
    }

    .main-one-sub {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-left: 2.5rem;
        margin-top: 1rem;
    }

    .sub-entry {
        align-self: center;
        margin: 0;
        justify-self: center;
    }

    .start {
        align-self: center;
        margin: 0;
        width: 50%;
    }

    .arch {
        margin-top: 8rem;
    }

    .section-two {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 35rem;
    }

    .bubbles-img {
        grid-column: 2/3;
        max-width: 85%;
        justify-self: right;
        padding-top: 3rem;
        margin-right: 3rem;
    }

    .main-two {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .main-h1-two {
        text-align: left;
        padding-left: 4rem;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }

    .main-two-p {
        color: hsl(238, 22%, 44%);
        font-size: 1rem;
        text-align: left;
        margin-left: 4rem;
        margin-right: 8rem;
        line-height: 1.5;
        margin-top: 1rem;
    }

    .link-how {
        margin-top: 1rem;
    }

    .link-how-p {
        justify-self: left;
        font-size: .9rem;
        margin-left: 4rem;
    }

    .arrow {
        justify-self: left;
        padding-left: 12.5rem;
    }

    .card {
        width: 43%;
        margin-left: 4rem;
        padding: 1.5rem;
        margin-top: 3rem;
    }

    .avatar-p {
        padding-right: 65%;
    }

    .avatar-p-1 {
        padding-right: 58%;
    }

    .access {
        height: 18rem;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
    }

    

    


}