body {
  background-color: #2b2d42;
  color: #edf2f4;
  font-family: 'Quicksand', sans-serif;
}

#navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  color: white;
  margin: 0;
  justify-items: center;
  align-items: center;
  padding: 10px;
  max-width: 420px;
}

#navigation > a > li {
  font-size: 23px;
  padding: 10px;
}

#navigation > a {
  color: #edf2f4;
  text-decoration: none;
}

#featured {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.poster {
  max-width: 120px;
}

.featured {
  max-width: 250px;
}

.movie_title {
  font-size: 30px;
}