body {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fraunces', serif;
}

a,
p {
    font-family: 'Barlow', sans-serif;
}

.header {
    display: grid;
    grid-template-columns: 1fr 10%;
    padding: 2em 1.5em 1.5em 1.5em;
}

.hamburger-button {
    padding-top: .1em;
}

nav {
    display: none;
    background-color: white;
    position: absolute;
    top: 100px;
    width: 90%;
    height: 40%;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

nav a {
    text-align: center;
    text-decoration: none;
    display: grid;
    padding: 16px;
    color: hsl(232, 10%, 55%);
    font-size: 1.4em;
    padding-top: 1.5rem;
}

.yellow-contact {
    font-family: 'Fraunces', serif;
    border-radius: 40px;
    width: 55%;
    height: 70px;
    margin: 0 auto;
    padding: 1em;
    font-size: 18px;
    background-color: hsl(51, 100%, 49%);
    border: none;
}

.header-image {
    max-width: 100%;
    position: relative;
    top: 0;
    z-index: -1;
    display: block;
}

.slogan {
    text-align: center;
    font-size: 2.8rem;
    letter-spacing: .1em;
    color: white;
    font-family: 'Fraunces', serif;
}

.arrow {
    max-width: 100%;
    display: block;
    padding-top: 25px;
    margin: 0 auto;
}

.egg-image {
    max-width: 100%;
}

.all-h2 {
    font-size: 2.1rem;
    text-align: center;
    margin-top: 50px;
}