@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 36%, rgba(148, 158, 233, 1) 100%);
    font-family: 'Raleway', sans-serif;
}

#wrapper {
    height: 800px;
}

#card {
    margin: 0;
    position: relative;
    top: 50%;
    width: 370px;
    height: 233px;
    display: grid;
    margin: 0 auto;
    background-color: #3a3a3a;
    border-radius: 13px;
}

#prime {
    max-width: 100px;
}
